@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  left: 64px;
  bottom: 30px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  opacity: .5;
  transition: .5s ease;
}

.header__main-illustration {
  position: absolute;
  object-fit: fill;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0px;
  top: 64px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;

}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cards {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}

.cards__item {
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-right: 100px;
  width: 240px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-top: 43px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -60px;
  z-index: 2;
}

.video__iframes {
  margin-top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:nth-of-type(2n) {
  margin-left: 20px;
}

.oakley {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 160px;
  z-index: 1;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 100px;
  max-width: 648px;
  text-align: center;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link:hover {
  opacity: .5;
  transition: .5s ease;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 100px;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.khan {
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.khan__title {
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 50px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin-top: 0;
  margin-bottom: 36px;
}

.khan__quote-author {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.khan__book-container {
  display: flex;
  padding-top: 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 45px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: .5s ease;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  margin: 80px auto 217px auto;
  width: 1100px;
}

.resources__link {
  list-style-type: none;
  display: flex;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  min-height: 350px;
}

.footer__columns {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  list-style-type: none;
  padding-left: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.rotation {
  animation: rotation 20s linear infinite;
}
